{% set metaDescription = entry.metaDescription %}
{% set pageTitle = entry.metaPageTitle %}
{% set pageClass = 'blog' %}
{% set pageActive = 'blog' %}

{% extends "_layout" %}

{% block content %}
<div style="background-image: url({{ entry.largeTopBannerImage.first().url() }}); height:400px;"></div>
	<div class="bg--grey-light pv+ palm-pv">
		<div class="container">
			<section class="layout">
				<article class="layout__item u-4/5 u-1/1-palm">
					 	<h1>{{ entry.title }}</h1>
						{{ entry.articleText }}
				</article>
			</section>
		</div>
	</div>
	{% if entry.useComments %}
	<section class="disqus">
		<article>
		 	<h1 class="title">Comments</h1>
			<div id="disqus_thread"></div>
		     <script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES * * */
			    var disqus_shortname = '{{ disqus.shortname }}';
			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		</article>
	</section>
	{% endif %}
{% endblock %}