{% set metaDescription = entry.metaDescription %}
{% set pageTitle = entry.metaPageTitle %}
{% set pageClass = "blog" %}
{% set pageActive = "blog" %}

{% extends "_layout" %}

{% block content %}
<div class="bg--grey-lighter pv">
    <div class="container">
        <div class="layout">
            <div class="layout__item text--center">
                <h1 class="alpha mt0 caps mb--">Filmstro Blog</h1>
                <p class="m0">Common questions about Filmstro.</p>
                <p class="mt0">For tutorials and walkthroughs, please see our <a href="">Vimeo site</a>.</p>
            </div>
        </div>
    </div>
</div>
<div class="bg--grey-light pv+ palm-pv">
    <div class="container">
        <div class="masonry">
{% paginate craft.entries.section('blog').limit(6) as entriesOnPage %}
    {% for entry in entriesOnPage %}
        {% set oddOrEven = cycle(['even', 'odd'], loop.index0) %}
            <a class="blog__item {{ oddOrEven }} image-link" href="{{ entry.url }}"> 
                <img src="{{ entry.largeTopBannerImage.first().url(blog402X224) }}" alt="">
                <div class="blog__text">
                    <h2 class="m0 color--grey-dark">{{ entry.title }}</h2>
                    <p class="color--grey-dark">{{ entry.articleTeaser }}</p>
                    <div class="blog__read-more">
                        <p class="m0 weight--bold">Read more 
                            <svg class="icon icon--small"><use xlink:href="#icon-chevron"></svg>
                        </p>
                    </div>
                </div>
            </a>
    {% endfor %}
        </div>
        <div class="pagination">
        {% if paginate.nextUrl or paginate.prevUrl%}
            {% if paginate.nextUrl %}
                <a class="pagination--next color--white weight--bold mr-" href="{{ paginate.nextUrl }}">
                     <svg class="icon__chevron--fat icon__svg--white">
                        <use xlink:href="#icon-chevron-fat-left">
                    </svg>
                    <div class="blog__next">
                        <span>View older posts</span>
                    </div>
                </a>
            {% endif %}
                <div class="bg--grey-light layout__item "></div>
            {% if paginate.prevUrl %}
                <a class="pagination--prev color--white weight--bold ml-" href="{{ paginate.prevUrl }}">
                    <div class="blog__prev">
                        <span>View newer posts</span>
                    </div>
                    <svg class="icon__chevron--fat icon__fill--white" >
                        <use xlink:href="#icon-chevron-fat-right">
                    </svg>
                </a>
            </div>
            {% endif %}
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}