.header {
	background-color: $color--grey-dark;
	padding: .7rem 1.2rem;
	height: 60px;
	transition: height .5s ease-in-out;
	overflow: hidden;
	box-shadow: $color--grey 0px 1px 1px;
	@include media-query(lap-and-up) {
		padding: .7rem 2rem;
		display: flex;
		justify-content: flex-end;
		height: auto;
		//position: fixed;
		width:100%;
	}
}
.mobile__nav--active {
	.header {
		height: 347px;
		transition: height .5s ease-in-out;
		padding: .7rem 0 0 0;
	}
	.nav__item {
		padding: .7rem 0;
		border-bottom: 1px solid $color--grey-light;
		transition: .5s ease-in-out;
	}
	.header__brand {
		margin-left: 1.2rem;
	}
}
.header__nav {
	text-align: center;
	@include media-query(palm) {
		top: 8px;
	}
	@include media-query(lap-and-up) {
		display: flex;
		align-items: center;
	}	
	.nav__link {
		color: $color--white;
		&:hover {
			color: $color--brand;
			transition: color .5s ease;
		}
	}
	.nav__item {
		text-transform: uppercase;
		transition: .5s ease-in-out;
		font-family: $font--title;
		@include media-query(lap-and-up) {
			display: inline-block;
			margin-right: 1rem;
		}
	}
	.nav__item--active {
		.nav__link {
			color:$color--brand;
		}
	}
}
.header__brand {
	//display: inline-block;
	height: 36px;
	margin-right: auto;
	width: 160px;
	@include media-query(lap-and-up) {
		height: 36px;
    	margin-right: auto;
    	width: 175px;
		align-self: center;
	}
}
.logo {
	width: 100%;
	height: 100%;
}


.logged-out {
	.login__item {
		display: none!important;
	}
}
.logged-in {
	.login__item {
		@include media-query(lap-and-up) {
			display: inline-block!important;
		}
	}
	.login__link {
		display: none!important;
	}
}