.footer {}

.footer__legal,
.footer__nav,
.footer__legal__item,
.footer__credits  {
	@extend .list-bare;
	color: lighten($color--grey, 45%);
}
.footer__legal,
.footer__legal__item {
	display: inline-block;
}
.footer__legal__item{

}
.footer__legal__link{
	padding: 0 .71rem;
	border-right: 1px solid lighten($color--grey, 45%);
	color: lighten($color--grey, 45%);
	&:hover {
		color: $color--brand;
		transition: color .5s ease;
	}
	@include media-query (palm) {
		padding: 0 0.31rem;
	}
}
#footer-legal ul:last-child li:last-child a{
	border: none;
}

.footer__nav {}

.footer__credits {}