.socials {
	@extend .list-bare;
	text-align: center;
}
.social__item {
	@extend .list-bare;
	display: inline-block;
	border-radius: 50%;
	padding: .6rem;
	@include media-query(palm) {
		padding: .4rem;
	}
}
.social__link {
	display: block;
	width: 2.5rem;
	height: 2.5rem;
}
.twitter,
.facebook,
.vimeo,
.soundcloud,
.youtube {
	svg {
		fill: #707170;
		transition: .5s ease;
	}
}
.twitter {
	&:hover {
		svg{
	    	fill: #55acee;
	    	transition: .5s ease;
	    }
	}
}
.facebook {
	&:hover {
		svg{
	    	fill: #3b5998;
	    }
	}
}
.vimeo {
	&:hover {
		svg{
	    	fill: #1ab7ea;
	    }
	}
}
.soundcloud {
	&:hover {
		svg{
	    	fill: #FF6600;
	    }
	}
}
.youtube {
	&:hover {
		svg{
	    	fill: #e52d27;
	    }
	}
}