.preloader {
  width: 175px;
  height: 175px;
  display: inline-block;
}
.f {
  width: 75px;
  height: 75px;
  margin: auto;
  bottom: 1rem;
}
.table__parent--center {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}
.table__parent--center > .table__child--center {
    display: table-cell;
    vertical-align: middle;
}

.preloader-overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: $color--grey-dark;
	z-index: 100;
    max-height: 100vh;
}

.preloader-overlay--fade-out {
	opacity: 0;
	transition-delay: 1s;
	transition: opacity 2s ease;
}

.rectangle__height {
	height: 24.33333%;
	display: block;
	margin-bottom: 9%;
	transition: 1s ease;
}
.rectangle__yellow {
	width: 98.260869565217%;
    background-color: #FBB416;
	transition: 1s ease;
}
.rectangle__blue {
	width: 65.217391304348%;
    background-color: #09A5DF;
}
.rectangle__red {
	width: 36.9565217391%;
	background-color: #E51563;
}

@-moz-keyframes Yellow {
  0%   	{ width: 0; }
  50% 	{ width: 98.260869565217% ;}
  100% 	{ width: 0; }
}
@keyframes Yellow {
  0%   	{ width: 0; }
  50% 	{ width: 98.260869565217% ;}
  100% 	{ width: 0; }
}

.anim--blue {
  -moz-animation:    Blue 1.45s infinite; /* Fx 5+ */
  animation:         Blue 1.45s infinite; /* IE 10+, Fx 29+ */
}


@-moz-keyframes Blue {
  0%   	{ width: 0; }
  50% 	{ width: 65.217391304348% ;}
  100% 	{ width: 0; }
}
@keyframes Blue {
  0%   	{ width: 0; }
  50% 	{ width: 65.217391304348% ;}
  100% 	{ width: 0; }
}

.anim--red {
  -moz-animation:    Red 1.3s infinite; /* Fx 5+ */
  animation:         Red 1.3s infinite; /* IE 10+, Fx 29+ */
}

@-moz-keyframes Red {
  0%   	{ width: 0; }
  50% 	{ width: 36.9565217391% ;}
  100% 	{ width: 0; }
}
@keyframes Red {
  0%   	{ width: 0; }
  50% 	{ width: 36.9565217391% ;}
  100% 	{ width: 0; }
}

.anim--yellow {
  -moz-animation:    Yellow 1.4s infinite; /* Fx 5+ */
  animation:         Yellow 1.4s infinite; /* IE 10+, Fx 29+ */
}