{% extends "_layout" %}
{% set title = "404" %}

{% block content %}
	<div class="pv background-image" style="background-image: url(/dist/assets/img/404.jpg); display: flex; justify-content: center; align-items: center;">
		<div class="bg--grey-dark p+ palm-p0" style="width: 60%;">
			<h1 class="m0">404 Page not found</h1>
			<p class="m0">Sorry the page you were looking for was not found.</p>
			<p>Please <a href="/">click here</a> to return to the home page.</p>
		</div>
	</div>
{% endblock %}