<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if !IE]><!--> 

<html class="no-js" lang="en"> <!--<![endif]-->
	{% include 'includes/_head.html' %}
	<body {% if pageClass is defined %} class="{{ pageClass }}"{% endif %}>
		{% include "includes/_icons.html" %}
	    {% include 'includes/_header.html' %}
	    
	    <main class="content" role="main">
			{% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>
	    {% include 'includes/_footer.html' %}
	</body>
</html>