<!--
<div class="preloader-overlay js-preloader">
	<div class="parent">
		<div class="child">
			<div class="preloader">
				<div class="f">
					<div class="anim&#45;&#45;yellow rectangle__height rectangle__yellow"></div>
					<div class="anim&#45;&#45;blue rectangle__height rectangle__blue"></div>
					<div class="anim&#45;&#45;red rectangle__height rectangle__red"></div>
				</div>
				&lt;!&ndash;<svg class="logo" style="height:26px"><use xlink:href="#icon-logo-full"></svg>&ndash;&gt;
				<span class="caps tagline">Music that moves<span class="color&#45;&#45;brand-yellow">.</span></span>
			</div>
		</div>
	</div>
</div>-->
