{% set metaDescription = entry.metaDescription %}
{% set pageTitle = entry.metaPageTitle %}
{% set pageActive = 'contact' %}
{% set pageClass = 'contact' %}
{% extends "_layout" %}
{% block content %}
<div class="bg--grey-light">
    <div class="map animated fadeIn" id="map-canvas"></div>
</div>
<div class="bg--grey-dark pv+">
	<div class="container container--small">
		<div class="layout">
			<div class="layout__item u-1/1-palm">
				<div class="layout">
					<div class="layout__item u-1/2 u-1/1-palm animated fadeIn">
						<h3 class="caps color--white mt0 mb--">Contact</h3>
						<p class="mt0">If you have questions regarding Licensing or you are experiencing technical issues with Filmstro Pro, have a quick look through the <a href="">FAQ’s</a> to see if there’s a quick fix.</p>
						<p class="mt0">If not, please use this support form to contact us. We’ll get back to you within 48 hours during business days (GMT - England UK).</p>
						<p class="mt0 mb0">For new business enquiries, please email:  <a href="mailto:alex.panton@filmstro.com">alex.panton@filmstro.com (US)</a> or <a href="mailto:zac.ali@filmstro.com">zac.ali@filmstro.com (UK)</a>. </p>
						<p>Filmstro Ltd. Sussex Innovation Centre. Science Park Square. Falmer, Brighton, BN1 9SB, UK</p>
					</div>
					
					{% macro errorList(errors) %}
					    {% if errors %}
					        <ul class="errors">
					            {% for error in errors %}
					                <li>{{ error }}</li>
					            {% endfor %}
					        </ul>
					    {% endif %}
					{% endmacro %}

					{% from _self import errorList %}
					<div class="layout__item u-1/2 u-1/1-palm animated fadeIn">
						<form method="post" action="" accept-charset="UTF-8">
						    {{ getCsrfInput() }}
						    <input type="hidden" name="action" value="contactForm/sendMessage">
						    <input type="hidden" name="redirect" value="/contact-thanks">

						    <label for="fromName"></label>
						    <input placeholder="Your Name" id="fromName" type="text" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
						    {{ message is defined and message ? errorList(message.getErrors('fromName')) }}

						    <label for="fromEmail"></label>
						    <input placeholder="Your Email" id="fromEmail" type="text" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
						    {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}

						    <label for="subject"></label>
						    <input placeholder="Subject" id="subject" type="text" name="subject" value="{% if message is defined %}{{ message.subject }}{% endif %}">
						    {{ message is defined and message ? errorList(message.getErrors('subject')) }}

						    <label for="message"></label>
						    <textarea placeholder="Message" rows="10" cols="40" id="message" name="message">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
						    {{ message is defined and message ? errorList(message.getErrors('message')) }}
						    <div class="btn btn--brand float--right" style="width:50%;">
						    	<input type="submit" value="Send" style="background: transparent;">
						    </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	// recenters the google map
	function recenter(){
	    setTimeout(function(){
	        google.maps.event.trigger(map, 'resize');
	        map.setCenter(myLatLng);
	    }, 10);
	}
	function initialize() {
	  var myLatlng = new google.maps.LatLng( 50.864565, -0.224533);
	  var mapOptions = {
	    zoom: 10,
	    center: myLatlng,
	    scrollwheel: false,
	    disableDoubleClickZoom: true,
	    draggable: true,
	    panControl: true,
	    zoomControl: true,
	    mapTypeControl: false,
	    scaleControl: false,
	    streetViewControl: false,
	    overviewMapControl: false,
	    mapTypeControl: false
	  }
	    window.onresize = function(){
	        google.maps.event.trigger(map, 'resize');
	        recenter();
	    };
	  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
	  var image = '/images/marker.png';
	  var myLatLng = new google.maps.LatLng( 50.864565, -0.224533);
	  var beachMarker = new google.maps.Marker({
	      position: myLatLng,
	      map: map,
	      animation: google.maps.Animation.DROP,
	      icon: image
	  });
	    google.maps.event.addListener(beachMarker, 'click', function() {
	        var url = jQuery('#get-directions').attr('href');
	        window.location.href = url;
	    });
	}
	// asynchronously add maps code to pages
	function loadScript() {
	  var script = document.createElement('script');
	  script.type = 'text/javascript';
	  script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp' +
	      '&signed_in=true&callback=initialize';
	  document.body.appendChild(script);
	}
	window.onload = loadScript;

	window.onresize = function(event){
	    if(map_available === true){
	        google.maps.event.trigger(map, 'resize');
	        map.setCenter(marker.position);
	    }
	};
</script>
{% endblock %}