{% set pageClass = 'thank-you' %}
{% extends "_layout" %}

{% block content %}
<div class="bg--grey-dark pv">
	<div class="container">
		<div class="layout">
			<div class="layout__item text--center">
				<h1 class="caps mb">Thank you</h1>
				<p>Your email has been received. We’ll get back to you within 48 hours during business days (GMT - England UK).</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}