.icon {
	vertical-align: middle;
}
.icon__svg {
	width: 100%;
	height: 100%;
	display: block;
}
.icon__logo--fp {
	height: 52px;
	width: 100%;
	@include media-query(lap-and-up) {
		height: 64px;
		width: auto;
	}
}
.icon__logos {
	fill: $color--grey;
    max-width: 200px;
	max-height: 58px;
    margin:auto;
    display: block;
}
.icon__chevron {
	padding: .75rem;
	fill: $color--white;
}
.icon__chevron--up {
	transform: rotate(270deg);
	transition: .4s ease-in-out;
}
.icon__chevron--down {
	transform: rotate(90deg);
	transition: .4s ease-in-out;
}
.icon__play {
	fill:#fff;
}
.icon__chevron--fat {
	width: 50px;
	height:50px;
}
.icon__svg--white {
	fill: $color--white;
}
.icon--small {
	height: 15px;
    width: 15px;
}