// Settings: Global variables, site-wide settings, config switches, etc.
$inuit-base-font-size:   16px;
// $inuit-base-line-height: 18px;
@import "../../bower_components/inuit-defaults/settings.defaults";
@import "../../bower_components/inuit-responsive-settings/settings.responsive";
@import "partials/settings/settings.local";

// Tools: Site-wide mixins and functions.
@import "../../bower_components/inuit-functions/tools.functions";
@import "../../bower_components/inuit-mixins/tools.mixins";
@import "../../bower_components/inuit-tools-widths/tools.widths";
@import "../../bower_components/inuit-responsive-tools/tools.responsive";

// Plugins: Third-party plugins
// Bourbon
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/jacket/stylesheets/jacket";
@import "../../bower_components/animate.css/animate";

// Generic: Low-specificity, far-reaching rulesets (e.g. resets).
@import "../../bower_components/inuit-normalize/generic.normalize";
@import "../../bower_components/inuit-box-sizing/generic.box-sizing";

// Base: Unclassed HTML elements (e.g. a {}, blockquote {}, address {}).
$inuit-heading-size-1:  30px;
$inuit-heading-size-2:  22px;
$inuit-heading-size-3:  18px;
$inuit-heading-size-4:  16px;
$inuit-heading-size-5:  15px;
$inuit-heading-size-6:  12px;

@import "../../bower_components/inuit-page/base.page";
@import "../../bower_components/inuit-images/base.images";
@import "../../bower_components/inuit-headings/base.headings";

@import "partials/base/base.forms";

// Objects: Objects, abstractions, and design patterns (e.g. .media {}).
$inuit-enable-layout--tiny:  true;
$inuit-enable-layout--small: true;
$inuit-enable-layout--large: true;
$inuit-enable-layout--huge:  true;
$inuit-enable-layout--flush: true;

@import "../../bower_components/inuit-layout/objects.layout";
@import "../../bower_components/inuit-buttons/objects.buttons";
@import "../../bower_components/inuit-pack/objects.pack";
@import "../../bower_components/inuit-media/objects.media";
@import "../../bower_components/inuit-list-bare/objects.list-bare";
@import "../../bower_components/inuit-list-inline/objects.list-inline";
@import "../../bower_components/inuit-tables/objects.tables";

@import "partials/objects/objects.layout-flex";
@import "partials/objects/objects.fonts";
@import "partials/objects/objects.buttons";
@import "partials/objects/objects.icons";

// Components: Discrete, complete chunks of UI (e.g. .carousel {}). This is the one layer that inuitcss doesn’t get involved with.

// Include components.genereal to critical css by default
@import "partials/components/components.general";
@import "partials/components/components.preloader";
@import "partials/components/components.header";
@import "partials/components/components.navigation";
@import "partials/components/components.social-media";
@import "partials/components/components.footer";


// Trumps: High-specificity, very explicit selectors. Overrides and helper classes (e.g. .hidden {}).
$inuit-enable-margins:         true;
$inuit-enable-margins--tiny:   true;
$inuit-enable-margins--small:  true;
$inuit-enable-margins--large:  true;
$inuit-enable-margins--huge:   true;
$inuit-enable-margins--none:   true;
$inuit-enable-paddings:        true;
$inuit-enable-paddings--tiny:  true;
$inuit-enable-paddings--small: true;
$inuit-enable-paddings--large: true;
$inuit-enable-paddings--huge:  true;
$inuit-enable-paddings--none:  true;

@import "../../bower_components/inuit-widths/trumps.widths";
@import "../../bower_components/inuit-widths-responsive/trumps.widths-responsive";
@import "../../bower_components/inuit-spacing/trumps.spacing";
@import "../../bower_components/inuit-spacing-responsive/trumps.spacing-responsive";
@import "../../bower_components/inuit-headings-trumps/trumps.headings";
@import "../../bower_components/inuit-clearfix/trumps.clearfix";
@import "../../bower_components/inuit-print/trumps.print";

@import "partials/trumps/trumps.helpers";
@import "partials/trumps/trumps.z-index";
@import "partials/trumps/trumps.shame";
