<!--[if lt IE 9]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
{% if pageActive != 'subscribe' %}
<script src="https://js.stripe.com/v2/"></script>
<script src="https://cdn.auth0.com/js/lock-9.min.js"></script>
<script src="/dist/assets/js/main.js"></script>
{% endif %}

{% if  pageActive == 'subscribe' %}
<script src="https://js.stripe.com/v2/"></script>
<script src="https://js.quaderno.io/v2/"></script>
<script src="https://cdn.auth0.com/js/lock-9.min.js"></script>
<script src="/dist/assets/js/main.js"></script>

{% if entry.isOneOffPayment %}
<script>
  var profile = JSON.parse(localStorage.getItem('profile'));
  var email = $('.js-email').val(profile.email);
  email.val(profile.email);
  email.prop("disabled", true);

  jQuery(function($) {
    $('#payment-form').submit(function(event) {

      var $form = $(this);

       // This identifies your website in the createToken call below
       Stripe.setPublishableKey('pk_live_aydQJ7L7OAcEDSqawKlFzvXZ');

       // Disable the submit button to prevent repeated clicks
       $form.find('button').prop('disabled', true);

       // Get the card token from Stripe
       Stripe.card.createToken({
         number: $('.card-number').val(),
         cvc: $('.card-cvc').val(),
         exp_month: $('.card-expiry-month').val(),
         exp_year: $('.card-expiry-year').val()
       }, stripeResponseHandler);

       // Prevent the form from submitting with the default action
       return false;
    });
  });
  var paymentForm = document.getElementById('payment-form'),
      paymentKey = paymentForm.getAttribute('data-plan'),
      apiUrl = '/api';
  $.ajax({
    url: apiUrl + '/quaderno/plan/' + paymentKey,
    type: "GET",
    success: $.proxy(function (paymentDetails) {
      paymentForm.setAttribute('data-charge', paymentDetails.charge);
    }, this),
    error: function (data) {
      //display error message
      //jDocument.trigger('alert:trigger', {alertType: 'danger', alertMessage: 'Something went wrong, please try again later or contact support@filmstro.com'});
    }
  });

  function quadernoSuccessHandler(status, response) {
    $form = $('#payment-form');
    $form.append($('<input type="hidden" name="transactionDetails" />').val(response.details));
    $form.get(0).submit();
  }

  function quadernoErrorHandler(status, response) {

  }

  function stripeResponseHandler(status, response) {
    var $form = $('#payment-form');

    if (response.error) {
      // Show the errors on the form
      console.log(response.error);
      $form.find('.payment-errors').text(response.error.message);
      $form.find('button').prop('disabled', false);
    } else {
      // response contains id and card, which contains additional card details
      var token = response.id;
        $('.cardToken').remove();
      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input class="cardToken" type="hidden" data-quaderno="cardToken" />').val(token));
      Quaderno.createCharge({
        success: quadernoSuccessHandler(status, response),
        error: quadernoErrorHandler(status, response)
      });
    }
  };
</script>
{% else %}
<script type="text/javascript">
var profile = JSON.parse(localStorage.getItem('profile'));
var email = $('.js-email').val(profile.email);
email.val(profile.email);
email.prop("disabled", true);

var stripeResponseHandler = function(status, response) {
  var $form = $('#payment-form');
  var interval = $form.attr('data-interval');
  var desc = $form.attr('data-description');

  if (response.error) {
      // TODO: Show generic meltdown error
      console.log(response.error.message);
      $('.js-payment-errors').text(response.error.message);
  } else {

    function createSubscriptionSuccess(status, response) {
      var url = '/api/secured/stripe/license/new';
      var auth = 'Bearer ' + localStorage.getItem('id_token');

      $.ajaxSetup({
        beforeSend: function (xhr) {
          if (auth) {
            xhr.setRequestHeader('Authorization', auth);
          }
        }
      });

      $.ajax({ 
        url: url,
        type: "POST",
        data: JSON.stringify({
          token: response.details, 
          licenseDescription: desc, 
          interval: interval
        }),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function() {
          // response contains the message and the Stripe customer id
          $form.append($('<input type="hidden" name="transactionDetails" data-quaderno="transactionDetails" />').val(response.details));
          // and re-submit the form
          $form.get(0).submit();
          //redirect to thank you page 
        },
        error: function () {
          $form.find('.payment-errors').text("There has been an issue creating your subscription. Please contact us at support@filmstro.com to resolve.");
        }
      });
  }
    // token contains id, last4, and card type
    var token = response.id;
    $('.cardToken').remove();
    // Insert the token into the form so it gets submitted to the server
    $form.append($('<input class="cardToken" type="hidden" data-quaderno="cardToken" />').val(token));

    // create the charge in Stripe via Quaderno and submit
    Quaderno.createSubscription({
      success: createSubscriptionSuccess,
      error: function(status, response){
        console.log(status, response); 
        $form.find('.payment-errors').text(response.message);
        $form.find('button').prop('disabled', false);
      }
    });
  }
};
var paymentForm = document.getElementById('payment-form'),
      paymentKey = paymentForm.getAttribute('data-plan'),
      apiUrl = '/api';
  $.ajax({
    url: apiUrl + '/quaderno/plan/' + paymentKey,
    type: "GET",
    success: $.proxy(function (paymentDetails) {
      //paymentForm.setAttribute('data-charge', paymentDetails.charge);
      paymentForm.setAttribute('data-interval', paymentDetails.interval);
      paymentForm.setAttribute('data-description', paymentDetails.description);
    }, this),
    error: function (data) {
      //display error message
        console.log('err2');
      //jDocument.trigger('alert:trigger', {alertType: 'danger', alertMessage: 'Something went wrong, please try again later or contact support@filmstro.com'});
    }
  });
//fine
jQuery(function($) {
  $('#payment-form').submit(function(e) {
  var $form = $(this);

  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('pk_live_aydQJ7L7OAcEDSqawKlFzvXZ');

  // Disable the submit button to prevent repeated clicks
  $form.find('button').prop('disabled', true);

  // Get the card token from Stripe
  Stripe.card.createToken({
    number: $('.card-number').val(),
    cvc: $('.card-cvc').val(),
    exp_month: $('.card-expiry-month').val(),
    exp_year: $('.card-expiry-year').val()
  }, stripeResponseHandler);

  // Prevent the form from submitting with the default action
  return false;
  });
});


$("#coupon").blur(function() {
  $(this).val($(this).val().trim().toUpperCase());

  $("#street-line-2").val($("#coupon").val());

  var code = $(this).val();

  function showPromoMsg() {
    console.log('here');
    $(".form-coupon span").addClass("hidden");
    /*$("#coupon-success-img").removeClass("hidden");*/
    $(".promo-details").removeClass("hidden");
  }
  function hidePromoMsg() {
    $(".form-coupon span").removeClass("hidden");
    /*$("#coupon-success-img").addClass("hidden");*/
    $(".promo-details").addClass("hidden");
  }


  function showCouponConf(data) {
    if (data.valid) {

        var msg = data.percent_off + "% OFF";

        if (data.duration === "once") {
            msg += " FIRST MONTH"

        } else if (data.duration === "repeating") {
            msg += " FOR " + data.duration_in_months + " MONTHS";
        }
        
        $(".promo-details").removeClass("hidden");
        $(".promo-details").append(msg);
        //showPromoMsg();
    } else {

      $(".promo-details").text("");
      hidePromoMsg();
    }
  }


  $.ajax({

    url: apiUrl + '/secured/stripe/coupon/' + code,
    type: "GET",

    success: function (data) {
        showCouponConf(data);
        console.log('works');
    },
    error: function () {
        hidePromoMsg();
    }
  });
});
</script>
{% endif %}

{% endif %}

