<footer role="contentinfo" class="contentinfo">
	<div class="bg--grey-light pv-">
		<div class="container">
			<ul class="socials">
				<li class="social__item twitter">
					<a target="_blank" href="#" class="social__link">
						<svg class="icon__svg"><use xlink:href="#icon-twitter"></svg>
					</a>
				</li>
				<li class="social__item facebook">
					<a target="_blank" href="#" class="social__link">
						<svg class="icon__svg"><use xlink:href="#icon-facebook"></svg>
					</a>
				</li>
				<li class="social__item vimeo">
					<a target="_blank" href="#" class="social__link">
						<svg class="icon__svg"><use xlink:href="#icon-vimeo"></svg>
					</a>
				</li>
				<li class="social__item soundcloud">
					<a target="_blank" href="#" class="social__link">
						<svg class="icon__svg"><use xlink:href="#icon-soundcloud"></svg>
					</a>
				</li>
				<li class="social__item youtube">
					<a target="_blank" href="#" class="social__link">
						<svg class="icon__svg"><use xlink:href="#icon-youtube"></svg>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="bg--grey-dark text--center pv">
		<div id="footer-legal" class="container">
			{% set footerItems = craft.entries.section('footerItems') %}
			<ul class="small footer__legal pb-">
				{% for entry in footerItems %}
				<li class="footer__legal__item">
					<a href="{{ entry.url }}" class="footer__legal__link">{{ entry.title }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="container">
			<ul class="p0 m0">
				<li class="small p0 m0 footer__credits">&copy; {{ siteName }} | {{ now.year }} All rights reserved</li>
			</ul>
		</div>
	</div>
</footer>

{% include "includes/_footer-scripts.html" %}