<header role="banner" class="header">
	<div class="header__brand">
		<a href="/">
			<!--<svg class="logo"><use xlink:href="#icon-logo-full"></svg>-->
		</a>
	</div>
	<div class="mobile__nav lap-and-up--hidden">
		<div class="mobile__nav-icon js-trigger-main-menu">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<nav class="nav header__nav">
		<ul class="nav__list">
			<li {% if (pageActive == "") %} class="nav__item nav__item--active" {% else %} class="nav__item" {% endif %}>
				<a class="nav__link" href="{{ url('licensing') }}">Nav Item 1</a>
			</li>
		</ul>
	</nav>

</header>