<head itemscope itemtype="http://schema.org/Article">
 	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {% if metaDescription is defined %}
    <meta name="description" content="Create professional soundtracks using Filmstro Pro - Soundtrack Creation Studio | Giving you the tools to edit music like you edit video">
    {% endif %}
    <title>{% if metaPageTitle is defined %}{{ metaPageTitle }}{% else %}{{ siteName }}{% endif %}</title>
    <link rel="home" href="{{ siteUrl }}" />
    <meta name="author" content="Filmstro">
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Filmstro">
    <meta itemprop="description" content="Create professional soundtracks using Filmstro Pro - Soundtrack Creation Studio | Giving you the tools to edit music like you edit video">
    <meta itemprop="image" content="/dist/assets/img/poster.jpg">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Filmstro">
    <meta name="twitter:title" content="FILMSTRO|PRO">
    <meta name="twitter:description" content="Create professional soundtracks using Filmstro Pro - Soundtrack Creation Studio | Giving you the tools to edit music like you edit video">
    <meta name="twitter:creator" content="@Filmstro">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="/dist/assets/img/app-icon.png">
    <!-- Image -->
    <meta property="og:image" content="/dist/assets/img/poster.png" />
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">
    <!-- Open Graph data -->
    <meta property="og:title" content="Filmstro" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.filmstro.com/" />
    <meta property="og:description" content="Description Here" />
    <meta property="og:site_name" content="Site Name, i.e. Moz" />

    <meta property="article:published_time" content="2013-09-17T05:59:00+01:00" />
    <meta property="article:modified_time" content="2013-09-16T19:08:47+01:00" />
    <meta property="article:section" content="Article Section" />
    <meta property="article:tag" content="Article Tag" />
    <meta property="fb:admins" content="Facebook numberic ID" />

    <!-- Set up preconnect -->
    <link href='//fonts.gstatic.com' rel='preconnect' crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Third-party styles-->
    <!-- bower:css -->
    <!-- endbower -->

    <!-- Main styles-->
    <link rel="stylesheet" href="/dist/assets/css/main.css" />
    <!-- endbuild -->

    {% include "./includes/_favicons.html" %}

</head>