<!-- {% if entry.useGradient %}
<style type="text/css">
    .banner {
        background-image: url({{ entry.howItWorksBannerImage.first().url() }});
    }
</style>
{% else %}
<style type="text/css">
    .banner {
        background-image: url({{ entry.howItWorksBannerImage.first().url() }});
    }
</style>
{% endif %} -->