{% extends "_layout" %}

{% block content %}
<div class="bg--grey-dark pv">
	<div class="container">
		<div class="layout">
			<div class="layout__item">
				<article>
					<h1 class="alpha">{{ entry.title }}</h1>
					{{ entry.articleText }}
				</article>
			</div>
		</div>
	</div>
</div>
{% endblock %}
